#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define FNC  1
#define NUM  2
#define NAV  3

&left_encoder {
    resolution = <2>;
};

/ {

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   | bksp |
// | TAB/FN|  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   '   |ent/fn|
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | ---     |  ctrl   |  |   ctrl  |  blank  |  N   |  M    |  ,    |  .   |   /   |shft/;|
//                     | ENC  |Alt/En| Ctrl |  Nav    |   del   |  |   bksp  |  num    | spc  | Iso   | ENC2  |
			bindings = <
	&kp ESC     &kp Q &kp W &kp E &kp R &kp T                                            &kp Y &kp U  &kp I    &kp O   &kp P    &kp BKSP
	&lt FNC TAB &kp A &kp S &kp D &kp F &kp G                                            &kp H &kp J  &kp K    &kp L   &kp QUOT &lt FNC RET
	&kp LSFT    &kp Z &kp X &kp C &kp V &kp B &none   &kp LCTL          &kp RCTL  &none  &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &mt RSFT SCLN
	              &kp LGUI &kp LALT &kp LCTL &mo NAV  &kp DEL            &kp BKSP &mo NUM &kp SPC &none &kp LGUI
			>;

			sensor-bindings = <&inc_dec_cp MOD_LALT UARW MOD_LALT DARW>;
		};

		function_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | none  |  F2 | mute| V+   | stp  |   @  |                                       | F12  |  F7   |  F8   |  F9  | Print| none |
// | none  | caps| Prev| V-   | Next |   @p |                                       | F11  |  F4   |  F5   |  F6  | Ins  | none |
// | none  | /Ble| Ble0| Ble1 | Ble2 | Ble3 |  ---   |  ---    |  |   ---   |  ---  | F10  |  F1   |  F2   |  F3  | ---  | none |
//                     | ---  | ---  | ---  |  ---   |  ---    |  |   ---   |  ---  | ---  | ---   | ---   |
			bindings = <
	&trans &kp F2     &cp M_MUTE   &cp M_VOLU   &cp M_STOP   &none                                         &kp F12 &kp F7 &kp F8 &kp F9 &kp PRSC &trans
	&trans &kp CLCK   &cp M_PREV   &cp M_VOLD   &cp M_NEXT   &none                                         &kp F11 &kp F4 &kp F5 &kp F6 &kp INS  &trans
	&trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 3 &none  &none  &none &kp F10 &kp F1 &kp F2 &kp F3 &trans   &trans
	                         &trans        &trans        &trans           &trans       &trans &trans &trans &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp DARW UARW>;
		};

		num_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | `     |  !  |  +  |  [   |  ]   |  =   |                                          |  %   |  7    |  8    |  9   |   *   | /    |
// | #     |  @  |  _  |  (   |  )   |  -   |                                          |  $   |  4    |  5    |  6   |   +   | ---  |
// | trans |  \  |  &  |  {   |  }   |  |   |   ---   |  ---    |  |   ---   |  ---    |  0   |  1    |  2    |  3   |   -   |  ^   |
//                     | ENC  | ---  | ---  |   ---   |  ---    |  |   ---   |  ---    | ---  | ---   | ---   |
			bindings = <
	&kp GRAV &kp BANG &kp KPLS  &kp LBKT &kp RBKT &kp EQL                               &kp PRCT  &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp KMLT &kp KDIV
	&kp HASH &kp ATSN &kp MINUS &kp LPRN &kp RPRN &kp MINUS                             &kp NUM_4 &kp NUM_4 &kp NUM_5 &kp NUM_6 &kp KPLS &none
	&kp LSFT &kp BSLH &kp AMPS  &kp LCUR &kp RCUR &kp PIPE &none   &trans  &trans &none &kp NUM_0 &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp KMIN &kp CRRT
	                       &trans  &trans   &trans         &none   &trans  &trans &trans    &trans    &none     &trans
			>;

			sensor-bindings = <&inc_dec_kp PGUP PGDN>;
		};

		nav_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | ---  | Tab-| Tab+| win+ | win- | excel|                                          | Pgup | Home |  Up   | End  | ScrUp | ---  |
// | ---  | Win | Shft| alt  | ctrl | app  |                                          | Pgdw | Left |  Down | Right| ScrDn | ---  |
// | ---  | --- | --- | ---  | ---  | excel|   ---   |  ---    |  |   ---   |  ---    |      | Predk| ---   | NxDk |   -   |---   |
//                    | ENC  | ---  | ---  |   ---   |  ---    |  |   ---   |  ---    | ---  | ---  | ---   |
			bindings = <
	&trans &trans   &trans   &trans   &trans   &trans                              &kp PGUP &kp HOME &kp UARW &kp END  &trans &trans
	&trans &kp LGUI &kp LSFT &kp LALT &kp LCTL &kp GUI                             &kp PGDN &kp LARW &kp DARW &kp RARW &trans &trans
	&trans &trans   &trans   &trans   &trans   &trans &none  &trans  &trans &none  &trans   &trans   &trans   &trans   &trans &trans
	                       &trans  &trans   &trans    &trans &trans  &trans &trans    &trans    &none     &trans
			>;

			sensor-bindings = <&inc_dec_cp M_VOLU M_VOLD>;
		};
	};
};
